#div2{
    /* background: pink; */
    width: 200px;
    height:200px;
    background:url('./img/eee.jpg') 0 0 no-repeat;
    transform: rotate(30deg);
    border-radius: 5px;
}
.aa{
    width:500px;
}