#search{
    width: 1230px;
    margin:0 auto;
    overflow: hidden;
}
.logo{
    float:left;
    margin-left:-57px;
    margin-top:7px;

}
/* .search-box .clearfix{
    overflow:hidden;
} */
.search-box{
    float:left;
    margin-left:70px;
    margin-top:33px;
    overflow: hidden;
}
.search-txt{
    width:483px;
    height:26px;
    border:2px solid #ff0036 ;
    padding:5px 3px 5px 5px;
    font-size:14px;
    outline:none;
    float:left;
}
.search-btn{
    width:128px;
    height:40px;
    background:#ff0036;
    color:#fff;
    font-size:18px;
    border:2px solid #ff0036;
    letter-spacing:5px;
    float:left;
}
.search-list li{
    float:left;
    line-height:1.1;
    padding:0px 12px;
    border-left:1px solid #999;

}
.search-list {
    margin-top: 8px;
    margin-left:-13px;
 
   
}
.search-list li a{
    font-size:14px;
    color:#999;
}

.search-list li.red a {
    color:#ff0036;
}
.inner-cont a img{
    width:100px;
    height:30px;
    margin-top:2px;

}
.inner-cont a{
    font-size:16px;
    color:#333;
    float:left;
    font-weight:521;
    margin:0 8px;
    /* position:absolute; */
    left:200px;
}
.inner-cont{
    height:35px;
    line-height:35px;
    width:1520px;
    margin:0 auto;
    /* padding-left:200px; */
    border-bottom:2px solid #ff0036;
    /* position:relative; */
}

.blank{
    width:350px;
    height:35px;
  
    float:left;
}
 .inner-cont a:hover{
     color:#ff0036;
 }

 /* 主内容区域 */
 .content{
     /* height:9100px; */
     /* border-top:2px;
     border-color: #ff0036; */
     background:url(../image/bg.jpg) center  -207px  no-repeat;
     background-color:#f5f5f5;
     font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
      
 }
 .slide-content{
     height:496px;
     width:1230px;
     margin: 0 auto;
     /* background:#ff0036; */
     position:relative;
     /* overflow:hidden;
     text-overflow:ellipsis;
     white-space:nowrap; */
 }
 .category{
     height:521px;
     width:200px;
     position:absolute;
     margin-top:-36px;
     z-index:2;
 }
 .cate-title{
     height:36px;
    /* line-height:36px; */
    color:#fff;
    background:red;
    font-size:16px;
 }
 .category  .main-cate{
     height:31px;
     line-height:31px;
     /* position:relative; */
     padding:0 8px;
 }
 .main-cate>a{
     color:#fff;
     font-size:14px;
 }
 .main-cate-box{
     background:rgba(0,0,0,0.55);
     position:relative;
     height:500px;
 }
 .category .main-cate:nth-child(1):hover>a{
     color:#e54077;
 }
 .category .main-cate:nth-child(2):hover>a{
    color:rgb(9, 56, 184);
}
.category .main-cate:nth-child(3):hover>a{
    color:#e54077;
}.category .main-cate:nth-child(4):hover>a{
    color:#124fc0;
}.category .main-cate:nth-child(5):hover>a{
    color:#e54077;
}.category .main-cate:nth-child(6):hover>a{
    color:#e54077;
}.category .main-cate:nth-child(7):hover>a{
    color:#1b53cc;
}.category .main-cate:nth-child(8):hover>a{
    color:#e54077;
}.category .main-cate:nth-child(9):hover>a{
    color:#c78917;
}.category .main-cate:nth-child(10):hover>a{
    color:#e54077;
}.category .main-cate:nth-child(11):hover>a{
    color:#1ae045;
}.category .main-cate:nth-child(12):hover>a{
    color:#e54077;
}.category .main-cate:nth-child(13):hover>a{
    color:#2d1ad4;
}.category .main-cate:nth-child(14):hover>a{
    color:#e54077;
}.category .main-cate:nth-child(15):hover>a{
    color:#ce9d16;
}
.category .main-cate:nth-child(16):hover>a{
    color:#e54077;
}
.category  .main-cate:hover{
    background: #fff;
}

.cate-sub-list{
    height:496px;
    width:805px;
    background: #fff;
    top:0;
    left:200px;
    position:absolute;
    display:none;
}
.category .main-cate:hover .cate-sub-list{
    display:block;
}
/* category的hover部分 */
.list-left{
    width:543px;
    height:458px;
    /* background:#ce9d16; */
    /* position:absolute; */
    float:left;
    padding:19px 30px;
    overflow:hidden;
}
.list-right{
    width:190px;
    height:485px;
    background:#FAFAFA;
    /* position:absolute; */
    float:right ; 
    padding:3px 6px 3px 6px;

}  
.list-left-row{
  
}
.list-left-title{
    float:left;
    line-height:22px;
    width:92px;
    font-size:14px;
    font-weight:bold;
    color:#333;
    margin-top:5px;

}
.list-left-content li{
    float:left;
}
.list-left-content  {
    float:left;
    width:450px;
    border-bottom:1px  dashed rgba(0, 0, 0, 0.1)
}
.list-left-content a{
    color: #666;
    font-size:14px;
    margin-right:10px;
}
.list-left-content .special-color{
    color:#e54077;
}
.list-right .brand img{
    float:left;
    height:45px;
    width:90px;
    margin:2px ;
}
.list-right .BIGbrand img{
    float:left;
    height:90px;
    width:180px;
}
/* 轮播图 */
.slide-img-box img{
    width: 1230px;
    display: block;
    height: 500px;
}
.slide-box{
    position: relative;
    height:496px;
}
.slide-box a{
    position:absolute;
    left:0;
    top:0;
}
.slide-btn-box{
    position:absolute;
    bottom:25px;
    left:55%;
    width:250px;
    /* 已知宽度 */
    /* margin-left:-100px; */
    /* 不知道宽度  css3 transform: translateX(-50%); */
    transform: translateX(-50%);
  
}
.slide-btn-box li{
    float:left;
    font-size:18px;
    z-index:30;
    background:rgba(0, 0, 0, 0.3);
    width:27px;
    height:5px;
    margin-left:5px;
}
.slide-btn-box li:hover{
    background:#999;
    opacity: .3; 

}
/* 品牌闪购 */
.brand-sale{
    height:371px;
    margin-top:30px;
 
}
.brand-list{
    width:234px;
    height:370px;
    float:left;
    background:#fff;
 
}
.brand-list-title{
    background:#fff;

}
.brand-title-cn{
    font-size:18px;
    color:#333;
    font-weight:700;
    line-height:54px;
    height:18px;
    margin-left:10px;
}
.brand-title-en{
    font-size:14px;
    color:#333;
    font-weight:700;
    height:44px;
    line-height:24px;
    margin-left:10px;
}
.brand-more{
    float:right;
 
}
.brand-more img{
    width:18px;
    height:18px;
    margin-top:18px;
    margin-right:15px;
}
.brand-list-img img{
    width:234px;
    height:317px;
    display:block;
}
.brand-list-2{
    width:485px;
    margin-left:13px;
}
.brand-list-2 .brand-list-img img{
    width:485px;

}
.brand-list-img img:hover{
    /* 透明度 */
    opacity:0.8;
    /* filter:alpha(opacity=80); */
}



/* 点击进入小品牌 */
.brand-logo{
    width:1230px;
    height:327px;
    background:rgb(238, 225, 225);
    margin:0 auto;
    overflow: hidden;
    margin-top:15px;
}
.brand-logo li img{
    height:50px;
    width:82%;
    margin:30px auto;
    display:block;
}
.brand-logo  li{
    float:left;
    height:108px;
    width:122px;
    background:#fff;
    margin-right:1px;
    margin-bottom:1px;
    position:relative;
}
.brand-logo-mask{
    background:rgba(0,0,0,0.8);
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    text-align:center;
    opacity:0;
    transition: opacity 0.5s ease ;
   
}
.coupon {
    text-align:center;
    margin-top:37px;
    color:#fff;
    overflow: hidden;
    text-overflow: ellipsis;
     white-space: nowrap;


}
.enter{
    text-align:center;
    display:inline-block;
    width:63px;
    height:18px;
    background:#ff0036;
    border-radius:8px;  /* 添加圆角 */
    color:#fff;
    margin-top:5px;
}
.brand-logo li:hover .brand-logo-mask{
    opacity: 1;
}
.changeone{
    font-size:14px;
    text-align:center;
    display:block;
    margin-top:58px;
}
.brand-logo-special{
    position: absolute;
    width:122px;
    height:108px;
    color:#999;
    display:block;
    background:#fff;
 
}
.brand-logo-special i{
    width:40px;
    height:40px;
    position: absolute;;
    text-align: center;
    left:50%;
    top:50%;
    font-size:28px;
    margin-left:-20px;
    margin-top:-30px;
}
.brand-logo-special:hover{
    background-color:#ff0036;
    color:#fff;
 
}
.brand-logo-special:hover i{
    transform:rotate(360deg);
    transition: transform 0.5s ease-out ;
}

/* 底部带价floor-goods */
.floor-goods{
    width:1230px;
    height:675px;
    margin:0 auto;
    margin-top:20px;
    /* background:#eee; */
    position:relative;
    overflow:hidden;
}
.floor-goods-title{
    height:31px;
    width:1230px;
}
.floor-goods-title .beauti{
    font-size: 18px;
    color: #000;
    display:block;
    float:left;
    margin-left:3px;
}
.floor-goods-title .fashi{
    font-size: 14px;
    color: #000;
    margin-left: 10px;
    line-height: 24px;
    height: 24px;
    diaplay:block;
    float:left;
    margin-top:3px;
}
.floor-goods-title img{
    width:214px;
    height:25px;
    vertical-align:middle;
    float:left;
    margin-top:5px;
}
.floor-goods-title ul li{
    display:inline-block;
    float:right;
    font-size:14px;
    height:20px;
    line-height:20px;
    margin:9px 10px;
}
.floor-goods-title ul li a{
    color:#000;
}
.floor-goods-title ul li:hover>a{
    text-decoration: underline;
}

.floor-goods-cont{
    width:1230px;
    height:630px;
    background:#f5f5f5;
    margin-top:10px;
}
.goods-cont-left {
    height:630px;
    width:235px;
    float:left;
}
.goods-cont-left a>img{
    height:630px;
    width:250px;
}
 .left-tip{
     width:218px;
     height:57px;
     position:absolute;
     top:460px;
     /* z-index:1100; */
 }
.left-tip span{
     display:block;     
     font-size:18px;
     color:#fff;
 }
 .tip-one{
     height:57px;
     padding:10px 18px;
     width:45px;
     float:left;
     background-color: rgba(0,0,0,0.8);
     margin-left:4px;
     
 }
 .tip-three{
    height:37px;
    padding:20px 18px;
    width:50px;
    float:left;
    background-color: rgba(0,0,0,0.8);
    margin-left:4px;
    letter-spacing:7px;

 }
 .tip-two{
     height:57px;
     padding:10px 18px;
     width:90px;
     float:left;
     background-color:rgba(0, 0, 0, 0.4);
 }
.left-detail{
    width:250px;
    height:50px;
    background-image: linear-gradient(-180deg,rgba(0,0,0,0) 4%,rgba(0,0,0,.36) 100%);
    position:absolute;
    top:622px;
 }
 .left-detail img{
     position:absolute;
     width:30px;
     height:30px;
     left:190px;
     top:8px;
 }
 .goods-cont-left:hover{
     opacity:.8;
 }
 .goods-cont-right{
     width:995px;
     height:630px;
     /* background:#ff0036; */
     z-index:1223;
     position:absolute;
     left:253px;
     top:41px;
     /* overflow:hidden; */
 }
 .right-crazy{
     width:470px;
     height:303px;
     margin: 2px 1px 1px 17px;
     /* position:absolute; */
     float:left;
     border-bottom:10px solid #f5f5f5;
     background: #fff;
 
 }
 .right-crazy-picture:hover {
     opacity:.5;
 }
 .goods-cont-right .right-crazy .right-crazy-title{
     width:470px;
     height:57px;
     background: #f1f1f1;
     text-align:center;
 }
 .goods-cont-right .right-crazy .right-crazy-title li{
     width:235px;
     height:57px;
     float:left;
     line-height:57px;
     font-size:18px;
 }
 .goods-cont-right .right-crazy .right-crazy-picture{
     width:462px;
     height:225px;
     position:absolute;
 }
 .right-crazy-picture a  {
    width:462px;
    height:225px;
    position:absolute;
 }
 .right-crazy-picture a .picture-bg{
     width:291px;
     height:87px;
     background:url("../image/picture.png");
     z-index:2;
     position:absolute;
     top:90px;
     left:0;
 }
 .picture-bg-title{
     position:absolute;
     width:256px;
     height:36px;
     margin-left:25px;
     margin-top:15px;
     font-size:24px;
     color:#00b262;
     letter-spacing:1px;
     font-weight:700;

 }
 .picture-bg-detail{
    position:absolute;
    width: 256px;
    height:30px;
    margin-left:25px;
    top:51px;
    font-size:20px;
    letter-spacing:1px;
    color:#000;
}
.right-crazy-picture a .milk-image{
    width:230px;
    height:200px;
    position:absolute;
    left:280px;
    margin-left:-48px;
    margin-top:10px;
}
.right-crazy-title li:hover{
    background:#00b262;
    color:#fff;
}
.right-little{
    width:225px;
    height:306px;
    background: #fff;
    display:block;
    float:left;
    margin-left:17px;
    position:relative;
    text-align:center;
    border:1px solid #fff;
    margin-bottom:15px;

}
.right-little img{
    width:185px;
    height:185px;
    margin-top:20px;
}
.right-little-tip{
    width:135px;
    height:40px;
    font-size:14px;
    color:#000;
    overflow:hidden;
    margin:0 auto;
}
.right-little-price{
    width:130px;
    height:40px;
    line-height:40px;
    font-size:18px;
    color:#ff0036;
    margin:8px auto;
}
.right-little:hover{
    border:1px solid #ff0036;
    opacity:.8;
 
}
.goods-three img{
    height:90px;
    width:1230px;
    display:block;
    margin:0px auto;
    padding-top:15px;


}
.end img{
    width:80px;
    height:45px;
    margin: 10px 680px;

}
/* 底部 */


.base-two{
    width:1520px;
    height:373px;
    background: #fff; 
    border-top: 1px solid #D1D7DC;
}
 
.base-two-top img{
    width:1190px;
    height:100px;
    margin:25px 160px;
}
.base-two-bottom{
    width:1190px;
    height:200px;
    margin:auto;
    padding-top:25px;
    border-top:1px solid #ededed;
    position:relative;
    /* background:url(../image/ear.jpg  ) 45px  bottom   no-repeat ; */
    /* background-position:bottom; */
    /* background-size: 68px 40px; */
    /* url  45px bottom no-repeat */
}
.base-two-bottom>div{
    width:186px;
    padding-left:52px;
    float:left;
    /* background: #000; */
    height:170px;
}
.base-two-bottom>div ul .stro{
    color: #646464;
    font-size: 16px;
    font-weight: 700;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    line-height:30px;
}
.base-two-bottom>div ul .thin a{
    color:#8b8b8b;
    height:20px;
    line-height:20px;
    font-weight:500;
}
a:hover{
    cursor:pointer;
}
.ear{
    position:absolute;
    left:50px;
    top:193px;
    height:25px;
    width:68px;

}

.base-one{
    border-top:2px solid #ff0036;
    height:243px;
    width:1520px;
    background: #000;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.base-tmallinfo{
    height:35px;
    width:1190px;
    margin-left:165px;
}
.base-otherlink{
    height:35px;
    width:1190px;
    margin-left:165px;
}
.base-tmallinfo a{
    padding:5px 0;
    display:block;
    margin-right:4px;
    color:#fff;
    float:left;
}
.base-otherlink a{
    padding:5px 0;
    display:block;
    margin-right:4px;
    color:#fff;
    float:left;
}

.base-message{
    height:151px;
    width:1190px;
    margin-left:165px;
    color:#a4a4a4;
}
.message-one{
    margin:0 0 3px 0;
}
.base-message a{
    color:#a4a4a4;  
    line-height:20px; 
}
.base-message  b{
    font-weight:400;
    line-height:20px;
}
.base-message .public-one img{
    margin-top:10px;
    margin-right:10px;

}