<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .active{
            color:red;
        }
    </style>
</head>
<body>
    <div id="app"  >
        <input type="text"  v-model="wj" >
        <button @click="add()">add</button>
        <ul>
            <li v-for="(number,index) in List" :class="{active:isA}">
                {{number}}
                <button @click="del(index)">del</button>
            </li>
        </ul>
        
    </div>
    
    <script src="vue.js"></script>

    <script>
        var vm=new Vue({
            el:'#app',
            data:{
                List:[],
                wj:'',
                isA:false
            },
            methods:{
                add(){
                    // console.log(this.msg);
                    this.List.push(this.wj);
                    this.wj="";
                //    List.push('wj');错的我自己写的
                },
                del(idx){
                    this.List.splice(idx,1);
                }
            }
        })
    
    
    
    </script>

</body>
</html>